.faq-question-outer {
  border-top: 0.6rem solid #2e2e2e;
}
.faq-question-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.faq-question{
  &__text-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    margin: 0rem 0 2rem;
  }
  &-subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 2rem 0 2rem;
  }
  &__button {
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      width: 100%;
      font-size: 1.625rem;
      font-weight: 400;
      margin: 0;
      padding: 16px 20px;
      background: rgb(61, 59, 59);
      border-radius: 4px;
      color: white;
      margin-top: 1rem;
      padding-left: 2rem;
      outline: none;
      border: none;
      text-align: left;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    &-input input {
      border: none;
      background: white;
      color: white;
      font-size: 16px;
      margin: 0;
      outline: none;
      border-radius: 2px;
      border: solid 1px #8c8c8c;
      width: 100%;
      height: 100%;
      min-width: 450px;
      padding-left: 2rem;
    }
    &-button button {
      font-size: 1.625rem;
      font-weight: 400;
      margin: 0;
      padding: 16px 20px;
      border: none;
      background: red;
      outline: none;
      border-radius: 4px;
      color: white;
    }
  }
}
@media (max-width: 460px) {
  button:hover {
    cursor: pointer
  }
  .faq-question-outer {
    border-top: 0.6rem solid #2e2e2e;
  }
  .faq-question-inner {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .faq-question{
    &__text-title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.1;
      margin: 0rem 0 2rem;
    }
    &-subtitle {
      color: #fff;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25;
      margin: 2rem 0 2rem;
    }
    &__button {
      text-align: center;
      button {
        width: 50%;
        font-size: .8rem;
        font-weight: 400;
        margin: 0;
        padding: 4px 4px;
        background: rgb(61, 59, 59);
        border-radius: 4px;
        color: white;
        margin-top: 1rem;
        padding-left: 2rem;
        outline: none;
        border: none;
        text-align: left;
      }
    }
    &__form {
      display: block;
      justify-content: center;
      &-input input {
        border: none;
        background: white;
        color: white;
        font-size: 8px;
        margin: 0;
        outline: none;
        border-radius: 1px;
        border: solid 1px #8c8c8c;
        width: 40px;
        height: 30px;
        min-width: 316px;
        padding-left: 2rem;
      }
      &-button button {
        font-size: 1rem;
        font-weight: 400;
        height: 40%;
        margin: 0;
        margin-top: 1rem;
        padding: 4px 4px;
        border: none;
        background: red;
        outline: none;
        border-radius: 4px;
        color: white;
      }
    }
  }
}