body {
  padding: 20px 35px;
}

#ol {
  background-color: burlywood;
}

#div {
  background-color: beige;
}

h2 {
  justify-content: center;
  display: flex;
  font-size: larger;
  font-weight: 600;
}

h3 {
  justify-content: center;
  display: flex;
  font-size: large;
  font-weight: 500;
}

.big {
  background: #ccc;
  height: 300px;
}

.btn {
  font-size: 14px;
}

.box {
  background: lightgreen;
  height: 40px;
}

.manipulatingStyles {
  color: aquamarine;
}

img {
  width: 100px;
  height: 100px;
}