
.footer-outer {
  margin-top: 4rem;
  border-top: 0.6rem solid #2e2e2e;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.25;
  color: #8c8c8c;

}

.footer-inner {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 4rem;
  margin-top: 4rem;
  flex-direction: column;

}

.footer-inner div {
  margin-top: 2rem;
}

.footer-cols {
  margin-top: 2rem;
  display: flex;

  align-content: center;
  flex-flow: wrap;

}

.footer-cols li {
  margin-right: 2rem;
  width: 20%;
  height: 20%;
}

.footer-outer a {
  color: #999;
  font-size: 0.9rem;


}
@media (max-width:460px) {
	  .footer-outer {
    margin-top: 2rem;
    border-top: 0.6rem solid #2e2e2e;
    font-weight: 200;
    font-size: .8rem;
    line-height: 1.25;
    color: #8c8c8c;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .footer-inner {
    margin-top: 2rem;
    margin-left: 4rem;
    flex-direction: column;

  }

  .footer-inner div {
    margin-top: 2rem;
  }

  .footer-cols {
    margin-top: 1rem;
    display: flex;
    align-content: center;
    flex-flow: wrap;

  }

  .footer-cols li {
    margin-right: 2rem;
    width: 40%;
    height: 40%;
  }

  .footer-outer a {
    color: #999;
    font-size: 0.6rem;
  }
}