.showcase {
  width: 100%;
  height: 100vh;
  background: url('./image/background.jpg') no-repeat center center/cover;
}

.showcase::before {
  z-index: 0;
  content: '';
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 39, 41, 0.6);
}

.showcase-top {
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  top: 50%;
  left: 10%;
  transform: translate(24%, 94%);
  margin-left: 0;
}

.showcase-top__right {
  display: flex;
  justify-content: flex-end;
}

.showcase-top__right-lang select {
  position: relative;
  z-index: 10;
  background: none;
  color: white;
  font-size: 1rem;
  margin-right: 2rem;
  padding: .5rem;
}

.lang-footer .showcase-top__right-lang {
  z-index: 2;
  align-self: center;
}

.showcase-top__right-signin {
  z-index: 2;
  align-self: center;
}

.showcase-top__right-signin a {
  z-index: 2;
  font-size: 1rem;
  padding: .5rem;
  margin-right: 2rem;
  border: none;
  background: red;
  outline: none;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.showcase-content__text {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.showcase-content__form {
  display: flex;
}

.showcase-content__form-input input {
  border: none;
  background: white;
  color: white;
  font-size: 16px;
  margin: 0;
  outline: none;
  border-radius: 2px;
  border: solid 1px #8c8c8c;
  width: 100%;
  height: 100%;
  min-width: 450px;
  padding-left: 2rem;
}



.showcase-content__form-button button {
  font-size: 1.625rem;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 16px 20px;
  border: none;
  background: red;
  outline: none;
  border-radius: 4px;
  color: white;
}
